html {
  font-size: 18px;
}

body {
  font-size: 1rem;
  background-color: #003366;
}

p {
    margin: 0 0 10px;
}

h1 {
  
}

.title {
    margin: 0;
    display: inline-block;
  }

input {
  display: block;
  padding: 10px;
  margin: 12px auto;
  width: 90%;
}

.intro {
font-family: verdana, serif;
min-height: 20px;
padding: 19px;
margin: 20px 0 ;
color: black;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.results {
display: none;
font-family: verdana, serif;
min-height: 20px;
padding: 19px;
margin: 20px 0 ;
color: black;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.results-data {
    margin: 1.5rem 0;
}

.text-sucess {
  color: #468847;
}

.text-danger {
  color: #b94a48;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}


.button {
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 5px;
  cursor: pointer;
} 

#checkButton {
  background-color: #ff7f7f;
} 

#submitButton {
  background-color: #006400;
} 

.social-title {
  background-color: #0D4F8B;
}

.income-title {
  background-color: #61B329;
}

.utilities-title {
  background-color: #e5e500;
}

.livingCosts-title {
  background-color: #ffae19;
}


.social-title, .income-title, .utilities-title, .livingCosts-title {
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 5px;
  cursor: pointer;
}


#box-social, #box-income, #box-utilities, #box-livingCosts {
background-color: #E8E8E8;
min-height: 20px;
padding: 19px;
}

.active, .collapsible:hover {
  background-color: #555;
}


