html {
  font-size: 18px;
}

body {
  font-size: 1rem;
}

p {
    margin: 0 0 10px;
}

h1 {
  
}

.title {
    margin: 0;
    display: inline-block;
  }

input {
  display: block;
  padding: 5px;
  margin: 12px auto;
  width: 100%;
}

.intro {
font-family: verdana, serif;
min-height: 20px;
padding: 19px;
margin: 20px 0 ;
color: black;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.results {
font-family: verdana, serif;
min-height: 20px;
padding: 19px;
margin: 20px 0 ;
color: black;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.results-data {
    margin: 1.5rem 0;
}


.box-of-stuff {
min-height: 20px;
padding: 19px;
margin: 20px 0 ;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.text-sucess {
  color: #468847;
}

.text-danger {
  color: #b94a48;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;08CBA;
} 